body {
   margin-top: auto;
   margin-left: 1cm;
   margin-right: 1cm;
   background-color: rgb(13, 112, 21);
   color: rgb(198, 202, 201);
}

#C {
    background-color: rgb(77, 69, 55); 
    border: none; 
    color: rgb(243, 234, 234);  
    padding: 10px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
}
.button:hover {
    background-color: #45a049; 
}
#l{
    background-color: rgb(82, 61, 17);
    border: none; 
    color: rgb(235, 230, 230);  
    padding: 10px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
}
#l.button:hover {
    background-color: #728f76; 
}
table {
    border-color: rgba(3, 3, 3, 0.925);
}
#b{ 
    text-align: center;
}